<html>
  <head>
    <title>Block de notas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
<body>
<div class="container">
  <h1>Bloc de notas</h1>
  <button class="btn btn-primary" (click)="listar()">Listar</button>
  <button class="btn btn-secondary ml-2" (click)="add()">Nuevo</button>
</div>
<hr>

<router-outlet></router-outlet>
</body>
</html>